/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 19 août 2016, 11:02:31
    Author     : Romain
*/

#precontent-widget-cont {
    border: none;
    background-size: cover;
    background-image: url(../img/homepage.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: -3px;
    position: relative;
    height: 200px;
}

#main {
    display: inline-block;
    width: 70%;
    position: relative;
    float: left;
}

#primary {
    width : 100%;
    display: block;
    position: relative;
    margin-right: 1em;
    background-color: #f8f8f8;
}


#header-top > ul > li {
    display: inline-block;
    margin-left: 1em;
}

#menu-large > li {
    display: inline-block;
    margin-left: 1em;
}

#customer_login {
    display: none;
    z-index: 1;
    position: relative;
    background-color: white;
}

.search-form {
    width: 100%;
    margin-right: 5%;
    margin-left: 30%;
}

.search-form > label > input {
    width:60%;
    background: transparent;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
}

.site-content {
    background-color: #f8f8f8;
}

@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    #main {
        display: block!important;
        width: 100%!important;
        position: relative!important;
    }
}

@media only screen and (min-width:1600px) {
    #main {
        padding-left: 18% !important;
        padding-right: 18% !important;
    }
}