/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 4 juin 2016, 13:02:27
    Author     : Romain
*/

.am-wrapper{
    position: absolute
}

.am-wrapper>img {
    max-width: none;
    width: 100%;
}

.am-wrapper>.overlay {
    opacity: 0.9;
    z-index: 10;
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0% 0%;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

body {
    overflow-x: hidden;
    width: 100%;
}

