/*
html {
    background: url(../img/homepage.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.galerie {
    position: absolute;
    top: 3em;
    left: 20em;
    width: 100%;
}
*/

.socialicon {
    position: relative;
    display: inline-block;
    margin-right: 2em;
    color: white;
    font: normal normal normal 1em/1 FontAwesome;
}

.socialicon-f {
    left: 95%;
}

.socialicon-t {
    left: 90%;
}

.socialicon-i {
    left: 85%;
}

galerietitre {
    width: 100%;
}
galerietitre > div {
    width: 20em;
    margin: auto;
    text-align: center;
}

body {
    overflow-x: hidden;
    margin: 0px;
    width: 100%;
    height: auto;
    max-width: 100%;
}

section {
    display: inline-block!important;
    height: auto;
    width: 100%;
    overflow : hidden;
    position: relative;
}

.board-right{
    position: relative;
    width: 50%;
    display: inline-block;
    float: right;
}

.board{
    position: relative;
    width: 100%;
    display: inline-block;
}

.langue{
    position: absolute;
    width: 100%;
    top: 5%;
    color: white;
}

.final-logo {
    fill: white;
    stroke: white;
}

.fr {
    left: 80%;
}

.en {
    left: 85%;
}

.jp {
    left: 90%;
}

#social-media {
    width: auto;
    position: absolute;
    right: 0em;
    bottom: 5em;
}

/*.fa-shopping-cart {
    width: 10%;
    position: absolute;
    left: 10%;
    top: 10%;
    color: white;
    font: normal normal normal 1em/1 FontAwesome;
}*/

.board-left{
    position: relative;
    width: 50%;
    display: inline-block;
    float: left;
}
#page {
    position: relative;
    min-height: 100%;
}

#bgimgs>img {
    max-width: none;
}

img.bgimg {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%, -50%);
    min-height: 100%;
}

img.bgimg.show {
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 3s;
    display : inline;
}

img.bgimg.hide {
    -webkit-transition: fadeout 3s;
    -moz-transition: fadeout 3s;
    -ms-transition: fadeout 3s;
    -o-transition: fadeout 3s;
    display: none;
}

.made_to_order_fleche{
    width: 2em;
    margin-left: auto;
    margin-right: auto;
}

#cart-icon{
    position: absolute;
    top: 10px;
    right: 400px;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

#cart-icon > img {
    width: 100%;
}

#about-page {

    position: relative;
    width: 50%;
    height: auto;
    //min-height: 470px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top: 9%;
    margin-bottom: 15%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #fff;
    //z-index: 100;
    display: block;
    //padding: 10px 20px 30px 20px;
}

#about-page.hide {
    animation: movedown 2s 1 normal ease-out;
    display: block;
    top: 1000px;
}

#about-page.show {
    animation: moveup 2s 1 normal ease-out;
    display: block;
}

.title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 2%;
}

#original-clothes {

}

#about-mannequin {
    position: absolute;
    left: 7%;
    width: 10%;
    top: 20%;
}

#about-ciseaux{
    width: 20%;
    position: absolute;
    right: 2%;
    top: 25%;
}

#about-feuillehaut{
    width: 20%;
    position: absolute;
    top: 2%;
    left: 20%;
}

#about-feuillebas{
    position: absolute;
    bottom: 2%;
    width: 20%;
    right: 20%;
    position: absolute;
}

img.separator {
    display: inline-block;
    width: 50%;
}

@keyframes moveup {
    0% {
        top:1000px;
    }
    100% {
        top: 0px;
    }
}

@keyframes movedown {
    0% {
        top:0px;
    }
    100% {
        top: 1000px;
    }
}

#about-img {
    display: inline-block;
    width: 30%;
    text-align: left;
}

#about-txt , #custom-txt {
    //float: right;
    text-align: justify;
    //width: 50%;
}

#custom-txt{
    font-size: 1.5em;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#about-close {
    width: 4ex;
    text-align: center;
    position: relative;
    max-width: inherit;
    margin: auto;
    cursor: pointer;
}

#about-plus {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#original-clothes{
    margin-left: 4%;
    margin-right:   4%;
}

.original-clothes-vign , .custom-clothes-vign{
    display: inline-block;
    width: 33.33333333333333333%;
    float: left;
}

#custom-clothes{
    height: auto;
    width: auto;
    display: inline-block
}

.original-clothes-img {
    width: 100%;

}

.original-clothes-txt{
    font-size: 1.5em;
    position: absolute;
    top: 34%;
    width: 30.7%;
    background-color: white;
    opacity: 0.7;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

#made_to_order_step1, #made_to_order_step2 {
    position: relative;

    padding: 0 6em 6em 6em;
}
#made_to_order_step1 > img{
    margin-right: 4em;
    width: 12em;
    float:left;

}

#made_to_order_step1 > div{
    /*width:20%;
    vertical-align: middle;
    display: inline-block;*/
    margin-top: 5em;

}

#made_to_order_step2 > img{
    width: 40%;
    float: right;
    display: inline-block;
}

#made_to_order_step2_description {
    width: 60%;
    float: left;
    margin-top: 2em;
}

#made_to_order_step2_subtitle {
    position: absolute;
    bottom: 15em;
}
#made_to_order_step2_description > img{
    width: 4em;
    transform: rotate(-60deg);
    position: absolute;
    right: 0;

}


#made_to_order_step3 {
    display: inline-block;
}

#made_to_order_step3  > img {
    float: left;
    width: 20%;
}

#made_to_order_step4 {
    display: inline-block;
}

#made_to_order_step4  > img {
    float: right;
    width: 40%;
}
#made_to_order_step4  > div {
    display: inline-block;
    float: left;
    width: 60%;
    margin-top: 4em;
    padding-left: 1em;
}

#made_to_order_step5 {
    display: inline-block;
}

#made_to_order_step5  > img {
    float: right;
}

#made_to_order_step5  > div {
    margin-top: 20%;
    padding-left: 1em;
}

#vintage-clothes-cadre {
    width: 30%;
    position: absolute;
    right: 20%;
    top: 35%;
    transform: rotate(-10deg);
}

#vintage-clothes-cadre > div {
    top: 1em;
    position: absolute;
    font-size: 1.8em;
    width: 7em;
    left: 1.2em;
}
/*
body {
    overflow: hidden;
    margin: 0px;
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    position: absolute;

}*/

@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    #about-page {
        width: 100%;
        height: auto;
    }


    #about-img {
        display: block;
    }

    #about-mannequin , #about-ciseaux{
        display:none;
    }

    #made_to_order_step2 > img {
        width: 80%;
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #made_to_order_step2_description {
        width: 100%;
        float: none;
        margin-top: 2em;
    }

    #creator-txt {
        padding-left: 2em;
        padding-right: 2em;
    }
}


@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    #about-page {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        //overflow-y: scroll;
    }


    #about-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
    }

    #about-txt, #custom-txt {
        width: auto;
        padding-left: 2%;
        padding-right: 2%;
    }
    #custom-txt {
        margin-left: 0;
        margin-right: 0;
    }

    .original-clothes-vign {
        display: block;
        width: 60%;
        float: none;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 5%;
    }


}



// Loader


#loader.dontshow {
    display: none;
}

.overlay-loader {
    z-index: 1000;
}

.overlay-loader .loader-background {
    -webkit-transition: background-color .2s 0s linear,right .2s .3s ease-out;
    -moz-transition: background-color .2s 0s linear,right .2s .3s ease-out;
    -ms-transition: background-color .2s 0s linear,right .2s .3s ease-out;
    -o-transition: background-color .2s 0s linear,right .2s .3s ease-out;
    transition: background-color .2s 0s linear,right .2s .3s ease-out;
}

.col-full {
    padding: 0!important;
}

.overlay-loader .loader-icon {
    z-index: 1001;
}

.overlay-loader .loader-icon.spinning-cog {
    -webkit-animation: spinning-cog 1.3s infinite ease;
    -moz-animation: spinning-cog 1.3s infinite ease;
    -ms-animation: spinning-cog 1.3s infinite ease;
    -o-animation: spinning-cog 1.3s infinite ease;
    animation: spinning-cog 1.3s infinite ease;
}

@-webkit-keyframes spinning-cog {
    0% { -webkit-transform: rotate(0deg) }
    20% { -webkit-transform: rotate(-45deg) }
    100% { -webkit-transform: rotate(360deg) }
}

@-moz-keyframes spinning-cog {
    0% { -moz-transform: rotate(0deg) }
    20% { -moz-transform: rotate(-45deg) }
    100% { -moz-transform: rotate(360deg) }
}

@-o-keyframes spinning-cog {
    0% { -o-transform: rotate(0deg) }
    20% { -o-transform: rotate(-45deg) }
    100% { -o-transform: rotate(360deg) }
}

@keyframes spinning-cog {
    0% { transform: rotate(0deg) }
    20% { transform: rotate(-45deg) }
    100% { transform: rotate(360deg) }
}

@-webkit-keyframes shrinking-cog {
    0% { -webkit-transform: scale(1) }
    20% { -webkit-transform: scale(1.2) }
    100% { -webkit-transform: scale(0) }
}

@-moz-keyframes shrinking-cog {
    0% { -moz-transform: scale(1) }
    20% { -moz-transform: scale(1.2) }
    100% { -moz-transform: scale(0) }
}

@-o-keyframes shrinking-cog {
    0% { -o-transform: scale(1) }
    20% { -o-transform: scale(1.2) }
    100% { -o-transform: scale(0) }
}

@keyframes shrinking-cog {
    0% { transform: scale(1) }
    20% { transform: scale(1.2) }
    100% { transform: scale(0) }
}

.overlay-loader .loader-icon.shrinking-cog {
    -webkit-animation: shrinking-cog .3s 1 ease forwards;
    -moz-animation: shrinking-cog .3s 1 ease forwards;
    -ms-animation: shrinking-cog .3s 1 ease forwards;
    -o-animation: shrinking-cog .3s 1 ease forwards;
    animation: shrinking-cog .3s 1 ease forwards;
}



