/*
html {
    background: url(../img/homepage.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.galerie {
    position: absolute;
    top: 3em;
    left: 20em;
    width: 100%;
}
*/

.socialicon {
    position: absolute;
    width: 5%;
    top: 50%;
    color: white;
    font: normal normal normal 1em/1 FontAwesome;
}

.socialicon-f {
    left: 95%;
}

.socialicon-t {
    left: 90%;
}

.socialicon-i {
    left: 85%;
}

galerietitre {
    width: 100%;
}
galerietitre > div {
    width: 20em;
    margin: auto;
    text-align: center;
}

body {
    overflow-x: hidden;
    margin: 0px;
    width: 100%;
    height: auto;
    max-width: 100%;
}

section {
    display: inline-block!important;
    height: auto;
    width: 100%;
    overflow : hidden;
    position: relative;
}

.board-right{
    position: relative;
    width: 50%;
    display: inline-block;
    float: right;
}

.board{
    position: relative;
    width: 100%;
    display: inline-block;
    height: 100%;
}

.langue{
    position: absolute;
    width: 100%;
    top: 5%;
    color: white;
}

.fr {
    left: 80%;
}

.en {
    left: 85%;
}

.jp {
    left: 90%;
}

.fa-shopping-cart {
    width: 10%;
    position: absolute;
    left: 10%;
    top: 10%;
    color: white;
    font: normal normal normal 1em/1 FontAwesome;
}

.board-left{
    position: relative;
    width: 50%;
    display: inline-block;
    float: left;
}
#page {
    position: relative;
    min-height: 100%;
}

#bgimgs>img {
    max-width: none;
}

img.bgimg {
    position: absolute;
    top: 0px;
    height: auto;
    max-width: none;
    display: block;
}

img.bgimg.show {
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 3s;
    display : inline;
}

img.bgimg.hide {
    -webkit-transition: fadeout 3s;
    -moz-transition: fadeout 3s;
    -ms-transition: fadeout 3s;
    -o-transition: fadeout 3s;
    display: none;
}

#cart-icon{
    position: absolute;
    top: 10px;
    right: 400px;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

#cart-icon > img {
    width: 100%;
}

#about-page {

    position: relative;
    width: 1000px;
    height: 75%;
    min-height: 470px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    background-color: #fff;
    //z-index: 100;
    padding: 10px 20px 30px 20px;
}

#about-page.hide {
    animation: movedown 2s 1 normal ease-out;
    display: block;
    top: 1000px;
}

#about-page.show {
    animation: moveup 2s 1 normal ease-out;
    display: block;
}

@keyframes moveup {
    0% {
        top:1000px;
    }
    100% {
        top: 0px;
    }
}

@keyframes movedown {
    0% {
        top:0px;
    }
    100% {
        top: 1000px;
    }
}

#about-img {
    display: inline-block;
    width: 30%;
    text-align: left;
}

#about-txt {
    float: right;
    text-align: center;
    width: 50%;
}

#about-close {
    width: 4ex;
    text-align: center;
    position: relative;
    max-width: inherit;
    margin: auto;
    cursor: pointer;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}




/*
body {
    overflow: hidden;
    margin: 0px;
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    position: absolute;

}*/

@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    #about-page {
        width: 100%;
        height: auto;
    }


    #about-img {
        display: block;
    }
}


@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    #about-page {
        width: 100%;
        height: auto;
        //overflow-y: scroll;
    }


    #about-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
    }

    #about-txt {
        text-align: center;
        width: 100%;
    }

}



// Loader


#loader.dontshow {
    display: none;
}

.overlay-loader {
    z-index: 1000;
}

.overlay-loader .loader-background {
    -webkit-transition: background-color .2s 0s linear,right .2s .3s ease-out;
    -moz-transition: background-color .2s 0s linear,right .2s .3s ease-out;
    -ms-transition: background-color .2s 0s linear,right .2s .3s ease-out;
    -o-transition: background-color .2s 0s linear,right .2s .3s ease-out;
    transition: background-color .2s 0s linear,right .2s .3s ease-out;
}

.overlay-loader .loader-icon {
    z-index: 1001;
}

.overlay-loader .loader-icon.spinning-cog {
    -webkit-animation: spinning-cog 1.3s infinite ease;
    -moz-animation: spinning-cog 1.3s infinite ease;
    -ms-animation: spinning-cog 1.3s infinite ease;
    -o-animation: spinning-cog 1.3s infinite ease;
    animation: spinning-cog 1.3s infinite ease;
}

@-webkit-keyframes spinning-cog {
    0% { -webkit-transform: rotate(0deg) }
    20% { -webkit-transform: rotate(-45deg) }
    100% { -webkit-transform: rotate(360deg) }
}

@-moz-keyframes spinning-cog {
    0% { -moz-transform: rotate(0deg) }
    20% { -moz-transform: rotate(-45deg) }
    100% { -moz-transform: rotate(360deg) }
}

@-o-keyframes spinning-cog {
    0% { -o-transform: rotate(0deg) }
    20% { -o-transform: rotate(-45deg) }
    100% { -o-transform: rotate(360deg) }
}

@keyframes spinning-cog {
    0% { transform: rotate(0deg) }
    20% { transform: rotate(-45deg) }
    100% { transform: rotate(360deg) }
}

@-webkit-keyframes shrinking-cog {
    0% { -webkit-transform: scale(1) }
    20% { -webkit-transform: scale(1.2) }
    100% { -webkit-transform: scale(0) }
}

@-moz-keyframes shrinking-cog {
    0% { -moz-transform: scale(1) }
    20% { -moz-transform: scale(1.2) }
    100% { -moz-transform: scale(0) }
}

@-o-keyframes shrinking-cog {
    0% { -o-transform: scale(1) }
    20% { -o-transform: scale(1.2) }
    100% { -o-transform: scale(0) }
}

@keyframes shrinking-cog {
    0% { transform: scale(1) }
    20% { transform: scale(1.2) }
    100% { transform: scale(0) }
}

.overlay-loader .loader-icon.shrinking-cog {
    -webkit-animation: shrinking-cog .3s 1 ease forwards;
    -moz-animation: shrinking-cog .3s 1 ease forwards;
    -ms-animation: shrinking-cog .3s 1 ease forwards;
    -o-animation: shrinking-cog .3s 1 ease forwards;
    animation: shrinking-cog .3s 1 ease forwards;
}



