

header.header-top > .site-branding {
    display: flex!important;
    padding-top: 1em;
    padding-bottom: 1em;
    transition: padding 0.3s ease-in-out, background 0.1s ease-out;
}

header > .site-branding , header.header-down > .site-branding {
    display: flex!important;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: padding 0.3s ease-in-out, background 0.1s ease-out;
}

#cssmenu{
    flex: 1 1 auto;
    margin-left: auto;
    margin-right: auto;
    height: inherit;
}

header.admin.header-top {
    margin-top: 2em;
}


header.site-header-menu.header-top {
    position: relative;
}


header.site-header-menu.header-top.banner {
    position: fixed;
}

header.site-header-menu {
    position: fixed;
    top: 0px!important;
}

header.site-header-menu.header-down {
    position: fixed;
    top: 0px!important;
}

.header-shop {
    height: auto;
    position: relative;
    height: 395px;
    background-align: top center;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    z-index:2;
}

.header-background {
    margin-top: 0;
    font-size: 12px !important;
    min-width: 100%;
}

.header-title {
    position: absolute;
    top: 40%;
    font-family: Modesty;
    color: white;
    font-size: 4em;
    font-weight: 400;
    width: 90%;
    text-align: right;
}

.fa-shopping-cart{
    
}

.woocommerce-Button {
    width: 100%!important;
}

#customer_login {
    width: 50%!important;
    float: right!important;
    margin-right: 2%!important;
}

.wp-social-login-provider {
    display : inline-block;
}

#cssmenu,
#cssmenu > div > ul {
    display: inline-flex;
    float: left;
    border: 0px!important;
    margin-left: 0;
    width: auto;
    z-index: 1;
    list-style: none;
    line-height: 1;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0!important;
}

#cssmenu {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.menu-shop a {
    top: 0.2em;
}

.menu-search {
    display: inline-block;
    float: right;
    top: -0.2em;
}

#cssmenu > div > ul > li {
    display: inline-block;
    border: 0;
    margin: 0px;
    z-index: 1;
    list-style: none;
    line-height: 1;
    cursor: pointer;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.site-header-menu {
    will-change: top;
    transition: top 0.3s ease-in-out;
}

.site-header-menu.header-top.banner {
    background-color: transparent!important;
    opacity: 1;
    color: white;
    border-bottom: none!important;
}

header.header-top {
    transition: padding 1s ease-in-out, background 0.1s ease-out;
}

.menu-langue > li > a {
    padding: unset!important;
}

#cssmenu .focus {
    border-bottom: 1px solid #0f2130;
    padding-bottom : 4px !important;
}


.langue-menu > li > a {
    color: #4573a7;
    display: block;
    font-size: 0.9em;
    text-align: center;
    margin-top: 1em;
}

#cssmenu > div > ul > li > a,
#cssmenu #menu-button-left {

    padding: 0em 0.6em;
    display: flex;
}


/*#cssmenu:after,
#cssmenu > div > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
*/
#cssmenu #menu-button-left {
    display: none;
}
#cssmenu {
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    max-height: 2em;
    height: auto;
}
#menu-line {
    position: relative;
    top: 0;
    left: 0;
    height: 3px;
    background: #009ae1;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
#cssmenu > div > ul {
    position:relative;
    margin-left: 0.5em!important;
    padding-left: 0;
}

#cssmenu i.fa-shopping-cart ,
#cssmenu i.fa-search {
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 0.3em;
}

header#masthead .sub-header-menu {
    padding: 2em;
}

header#masthead .sub-category-section ul{
    padding: 0;
    margin: 0;
}

.sub-category-section {
    margin-right: 2em;
}

header#masthead #sub-menu-collection a {
    width: 10em;
    display: block;
    margin-right: 2em;
    text-align: center;
}

#eshop-categories-container {
    display: inline-flex;
}

#eshop-categories-container a {
    font-weight: 200;
    font-size: 0.8em;
}

#eshop-categories-meta {
    float: right;
    width: 40%;
}

#cssmenu.align-center > div > ul {
    font-size: 0;
    text-align: center;
}
#cssmenu.align-center > div > ul > li {
    display: inline-block;
    float: none;
}
#cssmenu.align-center ul ul {
    text-align: left;
}
#cssmenu.align-right > div > ul > li {
    float: right;
}
#cssmenu.align-right > div > ul ul {
    text-align: right;
}

#cssmenu a {
    background-color: transparent;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    line-height: 2em;
}

.fa-shopping-cart:before {    
    top: 23%;
    position: relative;    
}

.fa-search:before {
    top: 40%;
    position: relative;
    font-size: 10px;
}

.site-branding{
    margin-bottom: 0!important;
    height: inherit!important;
    padding-left: 2em;
    padding-right: 2em;
}



.menu-search ::before {
    font-size: 15px!important;
}

#cssmenu > div > ul > li.active > a {
    color: #009ae1;
}
#cssmenu > div > ul > li.has-sub > a {
    padding-right: 25px;
}

#menu-left {
    float: left;
    height: 100%;
    position: absolute;
    width: 15em;
    margin: 0;
}

.menu-right {
    margin-left: auto;
}

#menu-right {
    float:right;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 100;
    background-color: white;
    width: 15em;
    overflow-y: auto;
}

#langue-widget > li {
    padding-right: 2em;
    width: 100%;
    text-align: right;
}

.site-search {
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
    float: right;
    clear: none!important;
    margin-bottom: 0px!important;
}


input[type="search"] {
    box-shadow: none!important;
    border-bottom: 1px solid #000!important;
}

.woocommerce.widget_product_search{
    margin: 0px!important;
}

.widget_product_search form::before {
    content: none!important;
}

.site-search .widget_product_search form::before {
    left: -1.618em!important;
    top: 0px!important;
    position: absolute!important;
}

#woocommerce-product-search-field{
    width: 10em!important;
    display: inline-block!important;
}

#woocommerce-product-search-field{
    padding: 0px;
    background-color: transparent;
    color: inherit;
    outline: 0px none;
    border: 0px none;
    -webkit-appearance: none;
    border-radius: none;
    box-sizing: border-box;
    font-weight: 400;
    box-shadow: 0px 1px 1px inherit inset;
    border-bottom-color: inherit!important;
    line-height: 1em;
    font-size: 10px;
}

.site-header-menu.product.header-top {
    color: black !important;
    fill: black;
}
.woocommerce-active .site-header .site-search {
    width: auto !important;
    margin-bottom: 0px !important;
}
form.woocommerce-product-search{
    height:0px;
}

#cart-widget {
    position: relative;
    width: 40%;
    float: right;

}

.widget_shopping_cart {
    position:relative;
}

#cssmenu > ul > li.has-sub > a::after {
    position: relative;
    top: 21px;
    right: 10px;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    content: "";
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}
/*#cssmenu > ul > li.has-sub:hover > a::after {
    border-color: #009ae1;
}*/
#cssmenu ul ul {
    position: relative;
    display: none;
    margin-left: 0px;
}
/*#cssmenu li:hover > ul {
    left: auto;
}
#cssmenu.align-right li:hover > ul {
    right: 0;
}*/
#cssmenu ul ul ul {
    margin-left: 100%;
    top: 0;
}
#cssmenu.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%;
}
#cssmenu > ul > ul > li {
    height: 0;
    -webkit-transition: height .2s ease;
    -moz-transition: height .2s ease;
    -ms-transition: height .2s ease;
    -o-transition: height .2s ease;
    transition: height .2s ease;
}
/*#cssmenu ul li:hover > ul > li {
    height: 32px;
}*/
#cssmenu > ul > li > ul > li {
    margin-bottom: 1px;
    background: #484848;
    opacity: 0.8;
    width: 226px;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}

#cssmenu > ul > li > ul > li > a {
    background: none;
    padding: 6px 14px;
    text-transform: none;
    display: inline-block;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}
/*#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
    color: #ffffff;
}*/
#cssmenu ul ul li.has-sub > a::after {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    content: "";
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}
#cssmenu.align-right ul ul li.has-sub > a::after {
    right: auto;
    left: 10px;
    border-bottom: 0;
    border-right: 0;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}
#cssmenu > ul > li.active.has-sub > ul {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

#cart-widget {
    display: block;
    width: auto;
    float: right;
}

.widget_shopping_cart_content > * {
    display: inline-block;
    margin-right: 1em!important;
}

.site-logo {
    cursor: pointer;
    width: 7em;
    height: 2em;
}

#search-box {
    margin-left: auto;
}

#menu-button-right {
    display:none;
}

.site-header-menu{
    background-color: white;
    padding-top: 0em!important;
    color: #9aa0a7;
    background-position: center center;
    border-bottom: 1px solid rgba(0,0,0,0.07);
    position: relative;
    z-index: 999;
    width: 100%;
    height: auto;
    min-height: 4em;
}

li.tags-product {
    width: auto;
    border-style: solid;
    border-width: 5px;    
    display: inline-flex;    
}

li.tags-product > span {
    margin : 0.2em;
}

#open-search-mobile {
    width: 100%;
    height: 100%;
}

#open-search-mobile::before {
    width: 100%;
    height: 100%;
    top: 20%;
    left: 20%;
    position: relative;
    color: black;
}

header.header-top .site-branding.invert  {        
        fill: white;        
}

header.header-down .site-branding.invert  {        
        fill: black;        
}

/*#cssmenu ul ul li.has-sub:hover > a::after {
    border-color: #ffffff;
}*/
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    .site-branding {
        display: block!important;
        padding: 0!important;
        border-bottom: 1px solid #dddddd;
    }
    
    .site-branding.invert  {
        background: transparent;
        fill: white;
        border: none;
    }
    .site-branding.invert a {
        color: white;
    }

    header.admin.header-top {
        margin-top: 0;
    }
    
    header.overlay-mobile {
        position: absolute!important;
        background: transparent;
    }

    .site-search{
        width: 100%;
    }

    .menu-item {
        min-height: 2em;
        vertical-align: middle;
        line-height: 1;
        cursor:pointer;
    }

    #menu-left div .menu-item.level-2{
        padding-left: 0.5em;
    }
    
    #menu-left div .menu-item.level-3{
        padding-left: 1em;
    }

    .menu-item.first {
        margin-top: 1em;
    }

    .menu-item a {
        padding: 14.5px;
        width: 100%;
        display: block;
    }

    .menu-item i {
        float: right;
        font-size: 0.7em;
    }

    .admin {
        top: 0em;
    }

    .snap-drawer ul li a {
        color: #fff;
        display: block;
        font-size: 11px;
        font-size: 1.1rem;
        padding: 14.5px;
        text-decoration: none;
    }

    .woocommerce.widget_product_search {
        margin: 0px !important;
        padding-left: 1em;
        padding-right: 1em;
    }

    form.woocommerce-product-search {
        margin-bottom: 0;
        width: 100%;
        display: inline-flex;
        height: auto;
    }

    #woocommerce-product-search-field {
        flex: 1;
    }

    .site-logo {
        display: inline-block!important;
        float: none;
        width: 10em!important;        
        margin-left: auto;
        margin-right: auto;
    }

    #menu-left,#menu-right{
        background-color: #f2f2f2;
    }

    #menu-left > ul {
        margin: 0;
        padding: 0;
    }
    
    #menu-right .quantity , 
    #menu-right .woocommerce-mini-cart__total.total , 
    #menu-right .woocommerce-mini-cart__buttons.buttons .button {
        float : right;
    }
    #menu-right .widget.woocommerce.widget_shopping_cart {
        margin: 0;
    }

    #masthead{
        position: relative;
    }

    .site-header-menu {
        padding-top: 0;
        height:2em;
        min-height: 2em;
        padding-top: 0;
        position: relative;
    }
    .fa-home {
        font-size: 1.2em;
        top: 5px;
        position: absolute;
    }
    #sp_close {
        display: block !important;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
    #sp_close_button {
        padding: 16px 30px;
        border-bottom: 1px solid #dddddd;
        background-image: url(../img/icon_close.png);
        background-position: 210px 50%;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        display: block;
        font-weight: bold;
    }
    #cssmenu {
        width: 100%;
        height: inherit;
        padding-top: 0.5em !important;
        padding-bottom: 0.5em !important;
        display: none;
    }
    #cssmenu ul {
        top: auto;
        z-index: 10;
        display: none;
        position: fixed;
        float: right;
        right: 0px;
        left: auto;
        width: 240px;
        height: 100%;
        background: #ffffff;
        font-family: 'Pontano Sans',sans-serif,YuGothic, '游ゴシック';
        border-left: 1px solid #dddddd;
    }
    #cssmenu.align-center > ul,
    #cssmenu.align-right ul ul {
        text-align: left;
    }
    #cssmenu ul li,
    #cssmenu ul ul li,
    /*#cssmenu ul li:hover > ul > li {
        width: 100%;
        height: auto;
        border-top: 1px solid rgba(120, 120, 120, 0.15);
    }*/

    #cssmenu ul li a,
    #cssmenu ul ul li a {
        width: 100%;
    }
    #cssmenu > ul > li,
    #cssmenu.align-center > ul > li,
    #cssmenu.align-right > ul > li {
        float: none;
        display: block;
    }
    #cssmenu ul ul li a {
        padding: 20px 20px 20px 30px;
        font-size: 12px;
        color: #000000;
        background: none;
    }
    /*#cssmenu ul ul li:hover > a,
    #cssmenu ul ul li a:hover {
        color: #000000;
    }*/
    #cssmenu ul ul ul li a {
        padding-left: 40px;
    }
    #cssmenu ul ul,
    #cssmenu ul ul ul {
        position: relative;
        left: 0;
        right: auto;
        width: 100%;
        margin: 0;
    }
    #cssmenu > ul > li.has-sub > a::after,
    #cssmenu ul ul li.has-sub > a::after {
        display: none;
    }
    #menu-button-left {
        margin-left: 1em;
        display: inline-block;
        width: 2em;
        height: 2em;
        float: left;        
        cursor: pointer;
        font-size: 12px;
        text-transform: uppercase;
    }
    #menu-button-left::after {
        content: '';
        position: absolute;
        top: 10px;
        display: block;
        width: 15px;
        height: 3px;
        border-top: 2px solid black;
    }
    #menu-button-left::before {
        content: '';
        position: absolute;
        top: 15px;
        display: block;
        width: 15px;
        height: 3px;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }
    
    header.overlay-mobile #menu-button-left::before ,
    header.overlay-mobile #menu-button-left::after 
    {
        border-top: 2px solid white;
        border-bottom: 2px solid white;
    }
    #menu-button-right {
        cursor: pointer;
        margin: 0;
        height: 100%;
        display: block;
    }
    #menu-button-right > ul {
        margin: 0;
        margin-right: 0.5em;
    }
    #cssmenu .submenu-button {
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid rgba(120, 120, 120, 0.15);
        height: 52px;
        width: 52px;
        cursor: pointer;
    }
    #cssmenu .submenu-button::after {
        content: '';
        position: absolute;
        top: 21px;
        left: 26px;
        display: block;
        width: 1px;
        height: 11px;
        background: #000000;
        z-index: 99;
    }
    #cssmenu .submenu-button::before {
        content: '';
        position: absolute;
        left: 21px;
        top: 26px;
        display: block;
        width: 11px;
        height: 1px;
        background: #000000;
        z-index: 99;
    }
    #cssmenu .submenu-button.submenu-opened:after {
        display: none;
    }

    #customer_login {
        width: 100%!important;
    }
    .site-search{
        display: block!important;
    }


    .woocommerce nav.woocommerce-MyAccount-navigation {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

}

@media all and (max-width: 384px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 512px), only screen and (min-resolution: 192dpi) and (max-width: 512px), only screen and (min-resolution: 2dppx) and (max-width: 512px) {

    .site-header-menu {
        padding-top: 0;
        height: 2em;
    }
}
