/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 28 févr. 2016, 19:35:54
    Author     : Romain
*/

.content-area {
    width: auto !important;
    margin-right: 0!important;
}


.snap-drawer-left {
    left: 0em;
}

.snap-drawer-right {
    float: right;
}

.snap-drawer {
    position: relative;
    width: 263px;
    right: 0;
}

.content-area {
    width: 100%!important;
}

.attachment-shop_thumbnail.size-shop_thumbnail.wp-post-image {
    width: 100%;
}

#page {
    transform: none;
}

.woocommerce-main-image.zoom{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.woocommerce-main-image.zoom > div.zoom-content {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    /*max-width : 100%;
    max-height: 100%;
    width: 100%;*/

}
.woocommerce-main-image.zoom > div.zoom-content >img {
    width: 100%;
    height: 100%;
}


.woocommerce-main-image.zoom:hover > div.zoom-content >img {
    max-width : none !important;
    max-height : none !important;
    width: 200%;
    height: 200%;
}

.woocommerce-main-image {
    margin-bottom: 0!important;
    display: block;
}

.thumbnails , .summary.entry-summary {
    background-color: white;
}
.thumbnails {
    margin: 2em;
}

.woocommerce-page div.product div.thumbnails a.thumb_img {
    display: inline-block;
    width: 20%;
    margin-right: 5%;
}

.thumb_img:hover {
    cursor: pointer;
}


.woocommerce-main-image.zoom:before {
    content: "";
    display: block;
    padding-top: 100%; 	/* initial ratio of 1:1*/
}

main.site-main > div.product.type-product > div.images {
    margin-right: 0!important;
    margin-bottom: 0!important;
    width: 50%;
}

main.site-main > div.product.type-product > .summary.entry-summary {
    width:50%;
    padding: 2%;
}

.single-product .product {
    width: 100%;

}

.single-product .summary {
    float: right;
    margin-right: 0;
    display: block;
}

.shop-attribute {
    display: block;
}

.shop-attribute th {
    min-width: 7em;
}
.shop-attribute td {
    background-color: #fdfdfd !important;
}
.single-product div.product .price {
    font-size: 1.5em;
}

.share-product{
    margin: 0;
}

.product-tags a {
    border: 2px solid #43454b;
    color: #43454b;
    padding: .202em .6180469716em;
    font-size: .875em;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 1em;
    border-radius: 3px;
}

.itemPhoto.out-of-stock {
    background: #000 url(../img/rupture.jpg) no-repeat center;
    background-size: cover;
}

.itemPhoto.out-of-stock img {
    opacity: .55;
}


.itemName{
    font-weight: bold;
    color: #000;
    display: inline-block;
}

.itemSize{
    display: inline-block;
    margin-left: 2em;
    font-weight: bold;
}

.dimensions td {
    font-size: 0.8em;
}

.dimensions td:not(:last-child) {
    border-right: solid;
}

.dimensions tr:not(:last-child) td {
    border-bottom: solid;
}

table.lisTable {
    display: block;
    overflow-x: auto;
}
    

@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {


    #woocommerce-product-search-field{
        width: 250px!important;
    }
    .widget_product_search {
        margin: 0 0 2em!important;
    }

    img.attachment-shop_single.size-shop_single.wp-post-image {
        width:100%;
    }

    .header-title {

        top:2em;
    }

    .close-search{
        float: right;
    }

    form.woocommerce-product-search{
        margin-top: 10px;

    }

    .entry-content {
        width: 50%;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    #signid > div {
        display:none;
    }

    .product-thumbnail > a {
        display: inline-block;
    }

    .attachment-shop_thumbnail.size-shop_thumbnail.wp-post-image {
        width: 10em!important;
    }

    .site-header{
        position: absolute!important;
        top: 0;
    }

    .site-logo {
        display :block!important;
    }
    .site-logo > svg {
        top: 0px;
    }

    .snap-drawer {
        position: fixed;
    }


    #page.left {
        transform: translate3d( 266px, 0px, 0px);
    }

    #page.right {
        transform: translate3d(-266px, 0px, 0px);
    }

    .single-product .summary {
        float:none;
        padding: 1em;
    }

    main.site-main > div.product.type-product > div.images {
        width: 100%;
    }

    main.site-main > div.product.type-product > .summary.entry-summary {
        width: 100%;
    }
    
    
    
}

@media all and (max-width: 384px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 512px), only screen and (min-resolution: 192dpi) and (max-width: 512px), only screen and (min-resolution: 2dppx) and (max-width: 512px) {
    tr.dimension{
        display: inline-grid;
    }   
    
    .shop-attribute {
        font-size: 0.7em;
    }
    
    .shop-attribute th {
        min-width: 2em;
        width: 2em;
    }

    .dimensions td {
        font-size: 0.7em;
        padding: 1em;
        border-bottom: solid;
        
    }
    
     .dimensions td:not(:last-child) {
        border-right: none;
    }
    .dimensions td:last-child {
        border-bottom: none!important;
    }
    .dimensions tr:not(:last-child) td {
        border-right: solid;
    }
    
    table.lisTable {        
        overflow-x: hidden;
    }
}



